# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':

  'acm':
    'prefix': 'tuu'
    'body': """
      ## []()

      <br>

      - 释义：


      <br>

      - 注释代码：

      ```C++

      ```

      <br>

      - 无注释代码：

      ```C++

      ```
    """

  'jcode':
    'prefix': 'ajj'
    'body': """
      **$1.&nbsp; $2：**

      ```Java
      $3
      ```

      <br>

      $4
    """

  'bcode':
    'prefix': 'ass'
    'body': """
      **$1.&nbsp; $2：**

      ```Shell
      $3
      ```

      <br>

      $4
    """

  'sqlcode':
    'prefix': 'sll'
    'body': """
      **$1.&nbsp; $2：**

      ```SQL
      $3
      ```

      <br>

      $4
    """

  'brbr':
    'prefix': 'bnn'
    'body': """
      <br><br>


    """

  'br':
    'prefix': 'nbb'
    'body': """
      <br>


    """

  'fullcomment':
    'prefix': 'fmm'
    'body': """
      /** $1. $2
       *  - $3
       */
      $4
    """

  'paragraph':
    'prefix': 'paa'
    'body': """
      <br><br>

      ### $1、$2
    """

  'article':
    'prefix': 'amm'
    'body': """
      # $1
      $2

      <br><br>

      ## 目录

      1. []()
      2. []()

      <br><br>

      ### 一、$3
    """
