'.source.gfm':
  'acm':
    'prefix': 'acm'
    'body': """
      ## []()

      <br>

      - 释义：


      <br>

      - 注释代码：

      ```C++

      ```

      <br>

      - 无注释代码：

      ```C++

      ```
    """

'.source.gfm':
  'ajc':
    'prefix': 'ajc'
    'body': """
      **$1.&nbsp; $2：**

      ```Java
      $3
      ```

      <br>

      $4
    """
